.header {
    grid-area: h;
    background-color: lightcoral;
}

.header img {
    width: 60px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    text-decoration: none;
    color: rgba(63, 63, 199, 0.96);
}
