.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
}

.contact {
    padding-left: 15px;
}

.formSummeryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}