.dialogs {
    display: grid;
    grid-template-areas:'d m';
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogsItems {
    grid-area: d;
}



.active {
    color: red;
}

.messages {
    grid-area: m;
}

